{% import "effects/sub/macros.jinja2" as macros %}

{% macro settingsInput(label, type, identifier, setting_name, description=None) %}
<div class="control-group">
    <label class="control-label">{{ label }}</label>
    <div class="controls">
        {{ macros.input(type, "effects." + identifier + ".editing()." + setting_name)}}
        {% if description %}
        <p class="help-block">
            {{ description }}
        </p>
        {% endif %}
    </div>
</div>
{% endmacro %}

{% macro effectSelect(identifier) %}
<div class="control-group">
    <label class="control-label">Effect</label>
    <div class="controls">
        <select data-bind="value: effects.{{ identifier }}.editing().effect(),
                           options: availableEffects(),
                           optionsCaption: 'Choose an effect...',
                           enable: statusConnected">
        </select>
    </div>
</div>
{% endmacro %}

{% macro editModal(identifier, name) %}
<div id="WLED{{ identifier }}EditModal" class="modal hide fade">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>
            <i class="far fa-edit"></i> Editing {{ name }} effect, segment <span data-bind="text: effects.{{ identifier }}.editing().id"></span>
        </h3>
    </div>
    <div class="modal-body form-horizontal">
        {{ settingsInput("Segment ID", "number", identifier, "id", "Zero index of the segment, matching the one defined in the WLED settings") }}
        {{ settingsInput("Brightness", "number", identifier, "brightness") }}
        {{ settingsInput("Color", "color", identifier, "color_primary") }}
        {{ effectSelect(identifier) }}
        {{ settingsInput("Intensity", "number", identifier, "intensity") }}
        {{ settingsInput("Speed", "number", identifier, "speed") }}
        {{ settingsInput("Overrides on/off", "checkbox", identifier, "override_on", "When checked, this effect will always turn the WLED LEDs back on, if they are off") }}
    </div>
    <div class="modal-footer">
        <!-- TODO reset to defaults button? -->
        <button data-dismiss="modal" class="btn">Close</button>
        <button data-bind="click: function(){ saveEdit('{{ identifier }}', effects.{{ identifier }}.editing())}" class="btn btn-primary">Save changes</button>
    </div>
</div>
{% endmacro %}
