<a class="pull-right"
   id="wled_navbar"
   style="float: left; font-size:20px"
   href="javascript:void(0)"
   data-bind="click: toggleFlashlight"
>
    {% if flashlightIsActive %}
        <!-- filled bulb -->
        <i class="fas fa-lightbulb"></i>
    {% else %}
        <!-- Outlined bulb -->
        <i class="far fa-lightbulb"></i>
    {% endif %}
</a>