<a class="pull-right"
   id="wled_navbar"
   style="float: left; font-size:20px"
   href="javascript:void(0)"
   data-bind="click: toggleFlashlight"
>
    <!-- filled bulb -->
    <i class="fas fa-lightbulb" data-bind="css: {display: flashlightIsActive ? '' : 'none'}"></i>
    <!-- Outlined bulb -->
    <i class="far fa-lightbulb" data-bind="css: {display: flashlightIsActive ? 'none' : ''}"></i>
</a>