<h5>WLED Settings</h5>
<div class="row-fluid">
    <div class="span7">
        <div class="connection-info">
            <div data-bind="visible: requestInProgress">
                <p>
                    <span style="padding-right: 10px">
                        <i class="fas fa-2x fa-sync fa-spin text-info pull-left"></i>
                    </span>
                    Loading...
                </p>
            </div>
            <div data-bind="visible: statusConnected() && !requestInProgress()">
                <p>
                    <i class="fas fa-2x fa-check text-success pull-left" style="padding-right: 10px"></i>
                    Connected to WLED <span data-bind="text: statusConnectionVersion"></span> at
                    <span data-bind="text: statusConnectionHost"></span>:<span data-bind="text: statusConnectionPort"></span>
                </p>
            </div>
            <div data-bind="visible: !statusConnected() && !requestInProgress()">
                <p>
                    <i class="fas fa-2x fa-times text-error pull-left" style="padding-right: 10px;"></i>
                    <span data-bind="text: statusConnectionError"></span>
                </p>
            </div>
        </div>
    </div>
    <div class="span5">
        <button class="btn btn-primary" data-toggle="modal" data-target="#WLEDConnectionSettings">
            <i class="fas fa-pencil-alt"></i>
            Edit connection settings
        </button>
    </div>
</div>
<hr>
<div class="tabbable">
    <ul class="nav nav-pills">
        <li class="active"><a href="#wledPrinter" data-toggle="tab">Printing effects</a></li>
        <li><a href="#wledProgress" data-toggle="tab">Progress effects</a></li>
        <li><a href="#wledAbout" data-toggle="tab">About</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="wledPrinter">
            {% include "settings/overview.jinja2" %}
        </div>
        <div class="tab-pane" id="wledProgress">
            {% include 'settings/progress.jinja2' %}
        </div>
        <div class="tab-pane" id="wledAbout">
            {% include "settings/about.jinja2" %}
        </div>
    </div>
</div>


{% include "modals/connection.jinja2" %}
