<a class="pull-right wled-nav-button" href="javascript:void(0)" data-bind="click: toggle_lights">
    <i id="lightIcon" class="fa-lightbulb" data-bind="css: { 'fas text-success': lights_on, 'far text-error': !lights_on() }"></i>
    <i style="margin-left: 4px" id="toggleSwitch" class="fas" data-bind="css: { 'fa-toggle-on text-success': lights_on, 'fa-toggle-off text-error': !lights_on() }"></i>
</a>
