{% import "wled-settings/sub/macros.jinja2" as macros %}

{% macro at_command() %}
<tr class="table-heading-2">
    <td></td>
    <td>
        <label class="checkbox inline d-block fw-bold">
            {{ macros.input("checkbox", "settingsViewModel.settings.plugins.wled.features.atcommand") }}
            Enable @ command reaction
        </label>
        <p class="d-block">
            Host @ commands can be used in GCODE scripts, custom controls or sent directly from the OctoPrint
            terminal to control OctoPrint. The WLED plugin reacts to commands that start with <code>@WLED</code>:
        </p>
        <ul>
            <li><code>@WLED ON</code> turns all the LEDs on</li>
            <li><code>@WLED OFF</code> turns all the LEDs off</li>
        </ul>
        <p class="d-block">
            These are not case sensitive.
        </p>
    </td>
    <td></td>
</tr>
{% endmacro %}

{% macro return_idle() %}
    <tr class="table-heading-2">
    <td></td>
    <td>
        <div class="input-flex-container">
            <label for="wled_return_idle" class="fw-bold">
                Return to idle after:
            </label>
            <div class="input-append">
                <input id="wled_return_idle" type="text" class="text-align-right input-small" data-bind="value: settingsViewModel.settings.plugins.wled.features.return_to_idle">
                <span class="add-on">secs</span>
            </div>
        </div>
        <p class="d-block">
            Set to 0 to disable. When enabled, the idle effect will run after the print is finished, after the configured length of time.
        </p>
    </td>
    <td></td>
    </tr>
{% endmacro %}

<p>
    Enable some optional features for the plugin here.
</p>

<table class="table">
    <thead class="visibility-collapse">
    <tr>
        <th class="colwidth-10"></th>  {# These widths have been carefully fine tuned... Try not to break them :) #}
        <th class="colwidth-80"></th>
        <th class="colwidth-10"></th>
    </tr>
    </thead>
    <tbody>
    {{ at_command() }}
    {{ return_idle() }}
    </tbody>
</table>
